body{
  width: 100vw;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: aliceblue;
  text-align: center;
  margin-top: 100px;
  position: sticky;

  top: 100px;
}

.container-notizie{
 // display: grid;
 // grid-template-columns: 250px 250px 250px 250px 250px;
 // grid-template-rows: 300px 300px 300px 300px ;


  text-align: center;
  width: 60vw;
  margin: auto;
}

.post-cards{
  margin-bottom: 10px;
}

mat-card{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

mat-card-title{
    margin-top: 18px !important;
}

mat-card-title, mat-card-subtitle{
    text-align: start;
    margin-left: 18px !important;
}

mat-card-content{
    text-align: start;
}

mat-card-header{
  border-bottom: 1px solid rgb(4, 77, 10);
}
