h1{
  margin-top: 90px;
  margin-left: 40px;
}

.posts-container{
    text-align: -moz-center;
    margin-top: 60px;

}

mat-card{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

mat-card-title{
    margin-top: 18px !important;
}

mat-card-title, mat-card-subtitle{
    text-align: start;
    margin-left: 18px !important;
}

mat-card-content{
    text-align: start;
}
//-------------button-------------------
.new-post-btn{
    width: 60px;
    height: 60px;
    background-color: rgba(174,221,205,255);

    position: sticky;
    bottom: 10px;
    left: 90%;
    margin-right: 13px;
    border-radius: 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);

  }
  svg{
    color: white;
    &:hover{
        color: grey;
    }
  }

  .new-post-btn:hover{
    background-color: rgba(174,240,180,60);
    transform: size(1.5);
  }

  //---------action buttons--------
  mat-card-actions{
     resize: both !important;
  }
