


<div class="posts-container">

    <mat-card style="width: 60%; margin:20px auto;" *ngFor="let post of posts">
      <mat-card-title>{{post.title}}</mat-card-title>

      <mat-card-subtitle><a href="/profile">{{post.author.username}}</a><span> {{post.date | date }}</span></mat-card-subtitle>
      <mat-card-content>{{post.text}}</mat-card-content>

      <mat-card-footer>



      </mat-card-footer>

      <mat-card-actions align="end">


      </mat-card-actions>
    </mat-card>



</div>
<button  class="btn new-post-btn" ><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
  </svg></button>
