<mat-toolbar class="colorGreen" color="danger">
  <button [routerLink]="['']" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon >spa</mat-icon>
  </button>
  <a href="/" class="colorGreen">MyGreen App</a>
  <a class="me-3 colorGreen learn-btn" mat-raised-button href="/">Learning-How</a>
  <span class="example-spacer"></span>
  <a class="me-3 colorGreen" mat-raised-button href="../login">Login</a>
	<a class="colorGreen" mat-raised-button href="../signup">Signup</a>
</mat-toolbar>



<!--<mat-toolbar color="primary" class="position-fixed top-0 mat-elevation-z3 p-4" style="z-index: 999;">
	<a href="/" class="text-white text-decoration-none">Social App</a>
  <mat-icon>spa</mat-icon>

	<span class="example-spacer"></span>

	<a href="/profile" class="rounded-pill ps-2 pt-1 pe-3 pb-1 text-white text-decoration-none"  *ngIf="isUserLoggedIn">
		<span class="rounded-circle d-inline-block align-middle centered-bg-image"
			style="width: 30px; height: 30px; background-color: white; background-image: url('{{authUser.profilePhoto ? authUser.profilePhoto : defaultProfilePhotoUrl}}');"></span>
		<span class="mat-body-strong d-inline-block align-middle ps-2">{{ authUser?.firstName }}</span>
	</a>

	<a mat-raised-button class="me-3" *ngIf="!isUserLoggedIn" href="/login">Login</a>
	<a mat-raised-button *ngIf="!isUserLoggedIn" href="/signup">Signup</a>
</mat-toolbar>-->


