
.mat-card-home{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  position: sticky;
  top: 10vh;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: transparent;
  box-shadow: none;
  padding: 5vh 0 5vh 0
}






.tips-button{
  background-color: rgb(108, 162, 108);
  width: 150px !important;
  height: 150px !important;
  margin-left: 3vw;
}

a{
  color: azure;
  font-size:medium;
}

.buttons-container{

  margin-top: 45vh;
  text-align: center;
}

.tips-button{
  flex: 1 1 auto;
}
//---------------------------------Animated strings----------------------

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;


}
.wrapper{
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.spanText{
  text-align: center;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 3.5vw;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #064206;
  //font-size: 60px;
  font-size: 3.5vw;

  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  margin-right: 4vw;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #3cb54e;
  border-left: 2px solid #fffcfc;
  animation: typing 3s steps(10) infinite;
  margin-top:2vh;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
//--------------------------------------------CARDS A GOCCIA-----------------------------------------------------
.containerbody{
  display: flex;
  justify-content: center;
  align-items: center;



}

.container{
  display: flex;
  justify-content: center;
  align-items: baseline;
 // flex-wrap: wrap;
  padding: 50px 0;
  gap: 40px 60px;

}

.container .drop{
  font-family: Georgia, 'Times New Roman', Times, serif;

  position: relative ;
  width: 17vw;
  height: 17vw;

  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.09),
  25px 35px 20px rgba(0, 0, 0, 0.09),
  25px 30px 30px rgba(0, 0, 0, 0.09),
  inset -20px -20px 25px rgba(255, 255, 255, 0.2);
  transition: 0.6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container .drop:nth-child(1){
  border-radius: 57% 43% 43% 57% / 43% 43% 57% 57% ;

}

.container .drop:nth-child(2){
  border-radius: 73% 27% 59% 41% / 57% 59% 41% 43% ;

}

.container .drop:nth-child(3){
  border-radius: 65% 35% 31% 69% / 57% 59% 41% 43% ;

}

.container .drop:nth-child(4){
  border-radius: 62% 41% 31% 79% / 57% 59% 41% 40% ;

}

.container .drop:hover{
  border-radius: 50%;
}

.container .drop:before{
  content: '';
  position: absolute;
  top: 40px;
  left: 65px;
  width:25px;
  height:25px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.4;

}

.container .drop:after{
  content: '';
  position: absolute;
  top: 70px;
  left: 85px;
  width:10px;
  height:10px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;

}

.container .drop .content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap: 15px;
}

//-------------- FINE CARDS A GOCCIA ---------------
//---------Media Queries----------
@media screen and (max-width: 992px) {

  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    margin-right: 4vw;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
content: none;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;

    animation: typing 3s steps(10) infinite;
    margin-top:2vh;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }

  @media screen and (max-width: 340px) {

    .mat-card-home{
      display: flex;
      justify-content:space-around;
      margin: 0, 10vh;
      position: sticky;
      top: 6vh;
    }

    .wrapper{
      margin-top: 50px;
    }

    .wrapper .dynamic-txts{
      margin-left: 0;
      height: 81px;
      line-height: 63px;
      overflow: hidden;


    }

    .dynamic-txts li span {
      font-size: 8vw;
      font-size: 5.5vw;
      font-weight: 500;
      position: relative;
      top: 0;
    }

    div .static-txt{
      width: 250px;
      margin-left: 10vw;
    }
    .wrapper .static-txt{
      font-size: 8vw;
      line-height: 100%;

    }
  }

  @media screen and (max-width: 340px) {

  .dynamic-txt li{
    font-size: 5.5vw;
    font-weight: 500;
    position: relative;
    top: 0;
  }


}

}






