
 <!--
 <mat-card class="mat-card-home2">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/mkjwxmcdb0E" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</mat-card>
-->

<mat-card class="mat-card-home">

  <mat-card-title >Welcome in MyGreen App</mat-card-title>
<mat-card-subtitle>The first Social entirely dedicated to Environmental Issues!</mat-card-subtitle>
<mat-card-content>Here you can find some precious advices to take care of our planet</mat-card-content>
<mat-card-footer>and  share your sustainable actions with the community!</mat-card-footer>

</mat-card>

 <!-----------------Animated strings------------------->

 <div class="wrapper">
  <div class="static-txt">There is no Planet B!</div>
  <ul class="dynamic-txts">
    <li><span>ACT TODAY!</span></li>
    <li><span>SAVE WATER</span></li>
    <li><span>SAVE ENERGY</span></li>
    <li><span>REDUCE CO2</span></li>
  </ul>
</div>


<div class="containerbody">




 <!-----------------Drop cards------------------->

  <div class="container">

    <div class="drop">
     <div  class="content"><a href="/saveWater" style="color:green">SAVE WATER</a>
    <a href="/saveWater">Clicca per scoprire i nostri preziosi consigli</a></div></div>
    <div  class="drop" >
      <div class="content"><a href="/saveElectricity" style="color:rgb(67, 101, 16)">SAVE ELECTRICITY</a>
      <a href="/saveElectricity">Hai mai sentito parlare di carichi fantasma?</a></div></div>
    <div  class="drop" style="color:green">
      <div class="content"><a href="/reduceCO2" style="color:green">REDUCE CO2</a>
      <a href="/reduceCO2">Clicca per scoprire i nostri preziosi consigli</a></div></div>
    <div class="drop" style="color:rgb(67, 101, 16)">
      <div class="content"><a href="/sustainableDiet" style="color:rgb(67, 101, 16)">SUSTAINABLE DIET</a>
      <a href="/sustainableDiet">Clicca per scoprire i nostri preziosi consigli</a></div></div>
  </div>



</div>

















