/* You can add global styles to this file, and also import other style files */


body {

  font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("./assets/images/vecteezy_earth-day-posters-with-green-backgrounds_7620340.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -100;


  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  }

.colorGreen{
  color: rgb(117, 174, 96) !important;
  text-decoration: none;
}

a{
  text-decoration: none;
  text-align: center;
}
